main{
    .how-to-buy{
        @include flex(column, center, center, nowrap);
        h1, p{
            font-size: $textoXxxl;
            line-height: 2em;
        }
    }
}

.pasos-a-seguir{
    @include flex(row, space-around, start, wrap);
    margin: 3em 3em;
    padding-right: 1.4em;
    div{
        @include flex(column, center, center, nowrap);
        text-align: center;
        font-size: $textoMd;
        svg{
            @include sizes(40%, 40%);
            fill: map-get($map: $colores, $key:"trece" )
        }
        p{
            font-size: $textoMd;
            margin: 1em;
        }
    }
}

.accordion{
    height: 65vh;
    width: 70%;
    padding-top: 1.4em;
    margin-bottom: 4em;
    margin-left: 4em;
    background-color: map-get($map: $colores, $key: "dos" );
    border-radius: 5px;
    .accordion-item{
        background-color: map-get($map: $colores, $key: "once" );
    }
    .accordion-header{
        @include flex(row, space-between, start, nowrap);
        @include sizes (3em, 30em);
        margin: 0 auto;
        background-color: map-get($map: $colores, $key: "once" );
        
    }
    .accordion-button{
        font-size: $textoXsm;
        background-color: map-get($map: $colores, $key: "once" );
        color: map-get($map: $colores, $key: "uno" );
        &::before{
            background-attachment: map-get($map: $colores, $key: "uno" );
        }
        &::after{
            background-color: map-get($map: $colores, $key: "uno" );
        }
        &:first-of-type{
            text-align: center;
        }
        &:focus{
            background-color: map-get($map: $colores, $key: "once" );
            color: map-get($map: $colores, $key: "uno" );
        }
        &:not(:focus){
            background-color: map-get($map: $colores, $key: "once" );
            color: map-get($map: $colores, $key: "uno" );
        &:not(.collapsed){
            background-color: map-get($map: $colores, $key: "once" );
            color: map-get($map: $colores, $key: "ocho" );
        }
        }
    }
    .accordion-body{
        background-color: map-get($map: $colores, $key: "once" );
        h3{
            color: map-get($map: $colores, $key: "uno" );
            text-align: center;
        }
    }
}