@media (width < 1000px){
    .tienda{
        @include grid(repeat(2, 1fr), 8em repeat(5, 300px), "actions actions"
        "prod1 prod2"
        "prod3 prod4"
        "prod5 prod6"
        "prod7 prod8"
        "prod9 prod10", 8px)
    }
}

@media (width < 880px){
    nav{
        form{
            input{
                display: none;
            }
        }
    }
    .navbar-collapse{
        background-color: map-get($map: $colores, $key: "cinco" );
    }
    .articulos-content{
        @include flex(column, start, center, nowrap)
    }
    .articulo{
        button{
            width: 40%;
        }
    }
    .video-cita{
        @include flex(column, center, center, nowrap);
        .cita{
            .cita-texto{
                padding-right: 2.4em;
            }
        }
        .video-demo{
            width: 60%;
        }
    }
    .bienvenida{
        width: 90%;
    }

    // INDEX ENDS
    .filter{
        display: none;
    }
    .actions{
        input{
            display: none;
        }
    }
    .tienda{
        @include grid(1fr, auto, "actions"
        "prod1"
        "prod2"
        "prod3"
        "prod4"
        "prod5"
        "prod6"
        "prod7"
        "prod8"
        "prod9"
        "prod10", 1em);
        section{
            padding-bottom: 1.6em;
        }
        .producto1,
        .producto2,
        .producto3,
        .producto4,
        .producto5,
        .producto6,
        .producto7,
        .producto8,
        .producto9,
        .producto10{
            div{
                p{
                    padding-right: 1em;
                    line-height: 2em;
                    font-size: $textoMd
                }
            }
        }
    }
    // TIENDA END
    .nosotros{
        flex-direction: column;
        section{
            .title{
                font-size: 3.4em;
                text-align: center;
                padding-bottom: .4em;
            }
            .subtitle{
                font-size: $textoXxl;
                text-align: center;
                @include spacing(1em, 2em, auto, auto);
                border-bottom: 3px solid;
  border-image: linear-gradient(rgba(0, 0, 0, 0), red, rgba(0, 0, 0, 0)) 1 100%;
}
            .presentacion{
                padding: 1.6em;
                text-align: center;
                font-weight: $textRegular;
                border-left: none;                
            }
        }
    }
    // QUIENES SOMOS END
    .grid{
        @include grid(1fr, auto, "nombre"
        "apellido"
        "telefono"
        "email"
        "provincia"
        "localidad", 10px);
    }
    .grid-position{
        padding-left: 2em;
    }
    .grid-item{
        input{
            width: 90%;
            margin-left: 0;
            [placeholder="Marca del producto"], input[placeholder="Modelo del producto"]{
                width: 14em;
            }
        }
        select{
            width: 90%;
        }
    }
    .input{
        width: 20vw !important;
    }
}

@media (width < 768px){
    .video-demo{
        width: 70%;
    }

    // INDEX ENDS

    .mision-vision{
        @include flex(column, center, center, nowrap);
        .mision-vision-content{
            @include flex(row, center, center, nowrap);
            .mision-texto{
                padding-right: 1.6em;
            }
        }
    }

    // QUIENES SOMOS ENDS

    .accordion-header{
        width: 24em;
    }
    .accordion-body{
        width: auto;
    }
    // FAQS ENDS

    .datos-producto{
        @include grid(1fr, repeat(6, 100px), "marca"
        "modelo"
        "motivo"
        "mensaje"
        "botones"
        "botones", 10px);
        input{
            @include sizes(50%, 98%);
        }
        select{
            width: 98%;
        }
        .mensaje{
            width: 98%;
        }
    }
}

@media (width < 570px){
    .descripcion-articulo{
        font-size: $textoMd;
        font-weight: $textBold;
    }
    .video-demo{
        width: 80%;
    }
    // INDEX ENDS

    .mision-vision-content{
        @include flex(column, center, center, wrap);
    }

    // QUIENES SOMOS ENDS 
    
    .datos-producto{
        @include grid(1fr, repeat(6, 100px), "marca"
        "modelo"
        "motivo"
        "mensaje"
        "botones"
        "botones", 10px);
        .form-btn{
            @include flex(column, center, center, nowrap);
        }
        .input{
            margin-bottom: 4em;
        }
    }
    // CONTACTO ENDS
}