// Tamaño de fuente
$textoXsm: 0.6em;
$textoSm: 1.2em;
$textoMd: 1.4em;
$textoLg: 1.8em;
$textoXl: 2em ;
$textoXxl: 2.4em;
$textoXxxl: 3em;

// Weigth
$textBold: bold;
$textRegular: 400;
$textLigth: 300;

// Borders
$noBorder: none;
$border1: 2px rgb(34, 34, 34) solid;
$border2: rgb(247, 128, 128) solid;
$border3: 1px solid rgb(219, 219, 219);