@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
    /* padding: 0;
    margin: 0; */
    box-sizing: border-box;
    
}

html{
    font-size: 62.5%;
}

body{
    background-image: url(../background/namesnack-nombres-para-tiendas-de-instrumentos-musicales-3869x2501-2021121.png);
    background-attachment: fixed;
}

.textContent{
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    background-color: rgba(173, 173, 177, 0.8);
    padding: 8px;
}

/* Propiedades de la nav */
nav{
    background:rgb(125, 125, 128);
}

nav ul li{
    font-size: 1.8em;
}

nav ul li a:hover{
    background-color: rgba(49, 49, 49, 0.5);
    border-radius: 5px;
}

.navbar-toggler{
    border: 2px rgb(34, 34, 34) solid;
}

/* Proiedades para la imagen de header */
.img-header{
    padding: 0;
    margin: 0;
    height: auto;
    width: 100%;
}

/* Carousel */

.color-slide{
    background-color: rgb(0, 0, 0)
}

/* Main */
.articulos-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: rgb(223, 222, 222);
}

div .destacados{
        margin: 0;
        text-align: center;
        padding: 20px;
        font-size: 3em;
        color: rgb(90, 14, 14);
        font-weight: bolder;
    }

    .articulo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 50%;
        padding: 20px;
        background-color: transparent;
        border: none;
        
    }

    .descripcion-articulo , .precio-articulo {
        padding-bottom: 10px ;
        font-size: 2em;
        font-weight: 500;
        text-align: center;
    }

    .img-articulo{
        width: 50%;
    }
    
    .btn-bg{
        background-color: rgb(49, 49, 49);
        color: rgb(240, 234, 234);
    }
    
    .btn-bg:hover{
        background-color: rgb(125, 125, 128);
        color: white;
    }
    /* Propiedades del footer */
    footer{
        background-color: rgb(125, 125, 128);
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    footer svg{
        height: 10%;
        width: 10%;
        margin: 0 10px;
        padding-right: 8px;
        fill: black;
    }

    .footer-link{
        margin: 0 10px;
        font-size: 1.6em;
        line-height: 1.8em;
        text-decoration: none;
        color: rgb(0, 0, 0);
    }

    /* TIENDA DE PRODUCTOS */

.actions{
    display: flex;
    justify-content: flex-end;
    padding-top: 1em;
}

    .actions button{
        margin:0 10px;
        padding: 6px;
        border: none;
        border-radius: 15%;    
        height: 40px;
        width: 40px;
        background-color: rgba(125, 125, 128,);    
    }

    .actions input{
        border: none;
        border-radius: 8px;
    }

    .actions button svg{
        fill: rgb(235, 235, 235);
    }

    /* ACTIONS ENDS */
.filter{
    background-color: rgb(125, 125, 128, 0.5);
    margin: 0 30px;
    padding-left: 10px;
    
}

    .filter ul li{
        list-style: none;
        font-size: 1.6em;
        margin-left: 10px;
    }

    .filter p{
        font-size: 2em;
        font-weight: bold;
        margin-bottom: 10px;
        letter-spacing: 2px;
    }

    /* FILTERS END */

.tienda{
    display: grid;
    grid-template-columns: 30% repeat(2, 1fr);
    grid-template-rows: 8em repeat(5, 300px);
    gap: 8px;
    grid-template-areas: 
    "actions actions actions"
    "filter prod1 prod2"
    "filter prod3 prod4"
    "filter prod5 prod6"
    "filter prod7 prod8"
    "filter prod9 prod10"


}

.tienda .actions{
    grid-area: actions;
}

.tienda .filter{
    grid-area: filter;
}
.section-bg{
    background-color: rgba(56, 49, 49, .2);
}
.section-bg:hover{
    background-color: rgba(49, 49, 49, 0.3);
    box-shadow: 3px 1px 4px;
}

    .tienda .producto1 div,
    .tienda .producto2 div,
    .tienda .producto3 div,
    .tienda .producto4 div,
    .tienda .producto5 div,
    .tienda .producto6 div,
    .tienda .producto7 div,
    .tienda .producto8 div,
    .tienda .producto9 div,
    .tienda .producto10 div{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center;
        width: 90%;
    }

        .tienda .producto1 .descripcion,
        .tienda .producto2 .descripcion,
        .tienda .producto3 .descripcion,
        .tienda .producto4 .descripcion,
        .tienda .producto5 .descripcion,
        .tienda .producto6 .descripcion,
        .tienda .producto7 .descripcion,
        .tienda .producto8 .descripcion,
        .tienda .producto9 .descripcion,
        .tienda .producto10 .descripcion{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .tienda .producto1 div p,
    .tienda .producto2 div p,
    .tienda .producto3 div p,
    .tienda .producto4 div p,
    .tienda .producto5 div p,
    .tienda .producto6 div p,
    .tienda .producto7 div p,
    .tienda .producto8 div p,
    .tienda .producto9 div p,
    .tienda .producto10 div p{
        font-size: 1.4em;
        font-weight: bold;
        padding-left: .5em;
    }

    /* PRODUCTOS ENDS */

.nosotros{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nosotros .title{
    font-size: 2.8em;
    color: rgb(197, 12, 12);
    font-weight: 700;
    margin-left: 2em;
    padding-right: 1em;
}

.nosotros .subtitle{
    font-size: 1.8em;
    margin-left: 3em;
    padding-right: 1em;
}

.nosotros .presentacion{
    font-size: 1.6em;
    font-weight: 580;
    padding: 6em;
    margin: 0 5em;
}

    /* QUIENES SOMOS ENDS */

main .how-to-buy{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.how-to-buy h1,
.how-to-buy p{
    font-size: 2em;
    line-height: 2em
}

.pasos-a-seguir{
    display: flex;
    justify-content: space-around; 
}

.pasos-a-seguir div{
    display: flex;
    flex-direction:column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
    font-size: 1.4em;
}

.pasos-a-seguir div svg{
    width: 48%;
    height: 48%;
    fill: rgb(56, 49, 49);
}

.accordion{
    height: 50vh;
    background-color: rgb(100, 99, 99);
    border-radius: 5px;
}

.accordion-item{
    background-color: rgba(49, 49, 49, .5);
}

.accordion-header{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 30em;
    height: 3em;
    background-color: rgba(49, 49, 49, .5);
}
.accordion-button{
    font-size: 0.6em;
background-color: rgba(49, 49, 49, .5);
color: rgb(213, 213, 230);
}

.accordion-button:first-of-type{
    text-align: center;
}

.accordion-button:focus{
    background-color: rgba(49, 49, 49, .5);
    color: rgb(213, 213, 230);
}

.accordion-button:not(:focus){
    background-color: rgba(49, 49, 49, .5);
}

.accordion-button:not(.collapsed){
    color: rgb(213, 213, 230);
}

.accordion-body{
    background-color: rgba(49, 49, 49, .5);
}

.accordion-body > h3{
    color: rgb(235, 235, 235);
    text-align: center;
}

    /* FAQs ENDS */

div h1{
    margin-left: 1em;
    padding-top: .5em;
    font-size: 3em;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div h2{
    margin-left: 1.2em;
    padding: .5em;
    font-size: 2.6em;
    font-weight: 700;
}

.form-control{
    font-size: 1.4em;
    padding: .4em;
    background-color: rgb(223, 222, 222);
    
}

.form-control:focus-visible{
    border: rgb(247, 128, 128) solid;
}

.form-select{
    height: 3em;
    font-size: 1.2em;
    background-color: rgb(223, 222, 222);
}

.form-select:focus-visible{
    border: rgb(247, 128, 128) solid;
}

.datos-producto{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: 
    "marca modelo"
    "motivo mensaje"
    "enviar cancelar";
    gap: 10px;
}

.datos-producto1{
    grid-area: marca;
}

.datos-producto2{
    grid-area: modelo;
}

.datos-producto3{
    grid-area: motivo;
}

.datos-producto4{
    grid-area: mensaje;
}

.datos-producto5{
    grid-area: enviar;
}

.datos-producto6{
    grid-area: cancelar;
}

.map{
    display: block;
    width: 100%;
    height: 24em;
    margin-left: 5em;
    
}
.grid-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.input{
    width: 30%;
    color: rgb(213, 213, 230);
    font-size: 1.4em;
    font-weight: 600;
    background-color: rgb(49, 49, 49);
}

.input:hover{
    background-color: rgb(213, 213, 230);
    color: rgb(49, 49, 49);
    transition: 0.2s ease-in-out;
}
label{
    font-weight: bold;
    font-size: 1.6em;
    margin-bottom: 5px;
}

input, textarea{
    padding: 5px;
    width: 80%;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 3px;
    margin-bottom: 10px;
    overflow: visible;
    color: rgb(49, 49, 49);
    background-color: rgb(219, 219, 219);
    font-size: 1.2em;
}

input{
    padding: 10px;
    width: 80%;
    background-color: rgb(219, 219, 219);
    border: none;
    border-radius: 3px;
}


div select{
    border: none;
    border-radius: 3px;
    width: 80%;
    height: 50%;
    text-align: center;
    font-size: 1.2em;
    background-color: rgb(219, 219, 219);
}

    /* RESPONSIVE */

@media (width < 1000px){
    .tienda{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 8em repeat(5, 300px);
    gap: 8px;
    grid-template-areas: 
    "actions actions"
    "prod1 prod2"
    "prod3 prod4"
    "prod5 prod6"
    "prod7 prod8"
    "prod9 prod10"
    }
}
    
@media (width > 880px){
    footer svg{
        width: 6%;
    }
}

@media (width < 880px){
    nav form input{
        display: none;
    }

    .navbar-collapse{
        background-color: rgb(123, 123, 128);
    }

    .articulos-content{
        flex-direction: column;
        align-items: center;
    }

    .articulo button{
        width: 40%;
    }

    /* INDEX ENDS */

    .filter{
        display: none;
    }

    .actions input{
        display: none;
    }
 
    .tienda{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "actions"
        "prod1"
        "prod2"
        "prod3"
        "prod4"
        "prod5"
        "prod6"
        "prod7"
        "prod8"
        "prod9"
        "prod10";
        gap: 1em;
    }

    .tienda section{
        padding-bottom: 1.6em;
    }

    .tienda .producto1 div p,
    .tienda .producto2 div p,
    .tienda .producto3 div p,
    .tienda .producto4 div p,
    .tienda .producto5 div p,
    .tienda .producto6 div p,
    .tienda .producto7 div p,
    .tienda .producto8 div p,
    .tienda .producto9 div p,
    .tienda .producto10 div p{
        padding-right: 1em;
        line-height: 2em;
        font-size: 1.6em;
    }

    /* TIENDA END */

    .nosotros{
        flex-direction: column;
    }
    
    .nosotros section .title{
        font-size: 3.4em;
        text-align: center;
        padding-bottom: .4em;
    }

    .nosotros section .subtitle{
        font-size: 2.4em;
        text-align: center;
        margin: auto;
        padding: 0 2em;
    }

    .nosotros section .presentacion{
        padding: 1.6em;
        text-align: center;
        font-weight: 500;
    }

    /* QUIENES SOMOS END */

    .pasos-a-seguir{
        flex-direction: column;
    }

    .pasos-a-seguir div{
        padding-bottom: 1.4em;
    }
    .pasos-a-seguir div svg{
        width: 20%;
        height: 20%;
    }

    .pasos-a-seguir div .select,
    .pasos-a-seguir div .pago,
    .pasos-a-seguir div .envio{
        font-size: 2em;
    }

    .pasos-a-seguir div .info-extra{
        font-size: 1.4em;
    }

    /* FAQS END */

    .grid{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "nombre"
        "apellido"
        "telefono"
        "email"
        "provincia"
        "localidad";
    }

    .grid-position{
        padding-left: 2em;
    }

    .grid-item input[placeholder="Marca del producto"],
    .grid-item input[placeholder="Modelo del producto"]{
        width: 14em;
    }
    .grid-item select{
        width: 14em;
    }

    .grid-item input{
        width: 10em;
    }
}

@media (width < 768px){
    .accordion-header{
        width: 24em;
    }
    .accordion-body{
        width: auto;
    }
/* CONTACTO ENDS */
}

@media (width < 570px){
    .descripcion-articulo{
        font-size: 1.4em;
        font-weight: bold;
    }
/* INDEX ENDS */

    .datos-producto{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 100px);
        grid-template-areas: 
        "marca"
        "modelo"
        "motivo"
        "mensaje"
        "enviar"
        "cancelar"
    }
/* CONTACTO ENDS */
}